.action-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 80%; 
    height: 80%; 
    cursor: pointer; 
    transition: transform 0.3s ease, color 0.3s ease;
    color: var(--col1);
    pointer-events: auto; /* Ensure the icon is interactive */
    border: none;
}


.action-button:hover {
    color: var(--col2);
}
