/* Define size variables for responsiveness */
:root {
    --size-knobs: calc(6vmin + 2vmax); 
    --bs-border-radius: 0.2rem;
}


/* ICON FROM BUTTON GROUPS */
.icon-svg {
    width: 80%;
    height: 80%;
    fill: currentColor; /* Dynamic color */
}

.action-gui-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: auto; /* Keeps the container at the bottom of the sub-frame */
    /* Additional styling as needed */
}

.action-gui-container .col-4 {
    /* Center content vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

}

.xyz-sensors-toggle {
    display: none; /* Hide by default */
}

/* Default (Extra-large screens: xl ≥1200px) */
.xyz-knobs {
    width: var(--size-knobs);
    height: var(--size-knobs);
    margin-bottom: 1vh;
}

.xyz-balance, .xyz-sensors-toggle{
    width: 5vmin;
    height: 5vmin;
    margin-bottom: 1vh;
    margin-top: 1vh;

}

.lfo-interaction-button, .xyz-cosmic-lfo {
    width: 8vmin;
    height: 8vmin;
    margin: .5vmin;
}

.freq-multiplier-btn-lfo{
    width: 5vmin;
    height: 5vmin;
    padding: 0%;
    
}

.xyz-param {
    width: 8vmin;
    height: 2vmin;
    font-size: 1.7vmin;
}



.transport-button, .interaction-button {
    width: 13vmin;
    height: 13vmin;
    margin-right: 3vw !important;
    margin-left: 1vw !important;
}

/* Large screens (lg: ≥992px and <1200px) */
@media (max-width: 1199.98px) {
    .xyz-knobs {
        width: calc(var(--size-knobs) + 2vmin);
        height: calc(var(--size-knobs) + 2vmin);
    }

    .xyz-balance, .xyz-sensors-toggle {
        width: 5vmin;
        height: 5vmin;
    }
    .lfo-interaction-button, .xyz-cosmic-lfo, {
        width: 8vmin;
        height: 5vmin;

    }
    .xyz-param {
        width: 8vmin;
        height: 3.5vmin;
        font-size: 2.5vmin;
    }

    .transport-button,
     .interaction-button {
        width: 13vmin;
        height: 13vmin;
    }
}

/* Small screens (sm: ≥576px and <992px) */
@media (max-width: 991.98px) {
    .xyz-knobs {
        width: calc(var(--size-knobs) + 5vmin);
        height: calc(var(--size-knobs) + 5vmin);
    }

    .xyz-balance, .xyz-sensors-toggle {
        width: 8vmin;
        height: 8vmin;
    }
    .lfo-interaction-button, .xyz-cosmic-lfo {
        width: 13vmin;
        height: 8vmin;

    }
    .xyz-param {
        width: 13vmin;
        height: 5vmin;
        font-size: 3vmin;
    }

    .transport-button,
     .interaction-button {
        width: 13vmin;
        height: 13vmin;
    }
}

/* Extra small screens (xs: <576px) */
@media (max-width: 575.98px) {
    .xyz-knobs {
        width: calc(var(--size-knobs) + 6vmin);
        height: calc(var(--size-knobs) + 6vmin);
    }

    .xyz-balance, .xyz-sensors-toggle {
        width: 8vmin;
        height: 8vmin;
    }
    .lfo-interaction-button, .xyz-cosmic-lfo {
        width: 13vmin;
        height: 8vmin;

    }
    .xyz-param {
        width: 12vmin;
        height: 5vmin;
        font-size: 3.5vmin;
    }

    .transport-button,
     .interaction-button {
        width: 13vmin;
        height: 13vmin;

    }
}




/* Container Within Sub-frame */
.action-gui-subcontainer {
    width: 96%;
    max-width: 96%;
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 2vmin;
    box-sizing: border-box;
}



#gSlider {
     /* More controlled size */
     width: calc(3vmin + 3vmax);
     height: 30vh;
}
/* Media Queries Adjustments */
@media (max-width: 1399.98px) {
    #gSlider {
    
        width: calc(4vmin + 4vmax);
        height: 30vh;
    }
}

/* Media Queries Adjustments */
@media (max-width: 1199.98px) {
    #gSlider {
    
        width: calc(4vmin + 4vmax);
        height: 30vh;
    }
}

@media (max-width: 991.98px) {
    #gSlider {
        
        width: calc(5vmin + 5vmax);
        height: 30vh;
    }
}

@media (max-width: 575.98px) {
    #gSlider {
    
        width: calc(6vmin + 6vmax);
        height: 30vh;
    }
}
/* Row Styling */
.action-gui-row {
    display: flex;
/*     justify-content: space-between;*/ 
    flex-wrap: nowrap; /* Prevent wrapping to new rows */
    align-items: end !important ;
    margin-bottom: 4vh !important;
    width: 100%;
    height: 20vh;
    max-width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 0 1vw;
}


  .dropdown,
  .dropup-center {
    pointer-events: auto;
    

  }
  .dropdown-menu,
  .dropup-center-menu {
    pointer-events: auto;
    min-width: 60px; /* Customize width */
  }
  
/* Interaction Button */
 .interaction-button {
    /*border: 2px solid var(--color1);  Add stroke */
    border-radius: 8px; /* Slightly rounded corners */
    background-color: transparent;
    color: var(--color1); /* Dynamic color */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.lfo-interaction-button {
/*     border: 1px solid var(--color1); 
    border-radius: 8px; /* Slightly rounded corners */
    background-color: transparent;
    color: var(--color2); /* Dynamic color for stroke */
    transition: transform 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    padding: 0.1em; /* Consistent padding */
}

.lfo-interaction-button svg {
    fill: none; /* No fill */
    stroke: currentColor; /* Stroke inherits the color from the parent */
    stroke-width: 1.5px; /* Adjust stroke width as needed */
    transition: stroke 0.3s ease; /* Smooth transition for stroke color changes */
}


/* Hover and Focus State (Pressed but not hovered) */
.interaction-button:hover,
.interaction-button:focus {
    transform: scale(1.05);
    /*border-color: var(--color2);  Highlighted stroke */
    color: var(--color2); /* Highlighted color */
    outline: none; /* Remove default outline on focus */
}

/* Icon in Button */
#interactionMenuIcon {
    display: inline-block;
    width: 50%; /* Adjust size relative to the button */
    height: 50%;
    color: inherit; /* Inherit currentColor */
}


/* Transport Button */
.transport-button {
    /*border: 2px solid var(--color1);  Add stroke */
    border-radius: 8px; /* Slightly rounded corners */
    background-color: transparent;
    color: var(--color1); /* Dynamic color */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

/* Hover and Focus State (Pressed but not hovered) */
.transport-button:hover,
.transport-button:focus {
    transform: scale(1.05);
    /*border-color: var(--color2);  Highlighted stroke */
    color: var(--color2); /* Highlighted color */
    outline: none; /* Remove default outline on focus */
}

/* Icon in Button */
#transportMenuIcon {
    display: inline-block;
    width: 50%; /* Adjust size relative to the button */
    height: 50%;
    color: inherit; /* Inherit currentColor */
}



/* Dropdown Menu Styling */
.dropdown-item {
    font-family: 'SpaceMono', sans-serif;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

/* Default State for Dropdown Items */
.dropdown-item {
    background-color: transparent;
    color: #000000; /* White text */
    border-radius: 0px; /* Optional rounded corners */

}

/* Hover State for Dropdown Items */
.dropdown-item:hover {
    background-color:  #d9d9d9; /* Small grey background */
    border-radius: 0%; /* Optional rounded corners */
}

/* Dropdown Menu Icon Styling */
.menu-item-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 8px;

}

.calibration-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: color 0.3s ease;
    pointer-events: auto;

}
.status-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    color: #F44336; /* Default: Red for disconnected */
    cursor: pointer;
    font-size: 14px;
    transition: color 0.3s ease;
    pointer-events: auto;

}

.status-button.connected {
    color: #4CAF50; /* Green for connected */
}

.status-button .button-icon svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
}


