body {
    margin: 0;
    overflow: hidden;
    background: transparent;
}

.webgl {
    display: block;
    background: transparent;
}
/* Ensure that body and html elements are transparent and fill the viewport */
html, body {
    background-color: transparent !important;
    margin: 0;
    overflow: hidden;
}

/* Style the canvas for full transparency */
canvas.webgl {
    display: block;
    background: transparent;
}
